PORT=6005
MONGODB_URI=mongodb+srv://Admin:Admin123@cluster0.o4te7qe.mongodb.net/ethio-tourist-destination?retryWrites=true&w=majority&appName=Cluster0

# Only needed if frontend is deployed on a different domain than the backend
# CLIENT_URL=https://your-frontend.example.com
